@{
    ViewBag.Title = "Home Page";
}

<h3>@ViewBag.PageTitle</h3>

<p>
    @ViewBag.PageDescription
</p>

<span>Created on @ViewBag.PageCreateDate.ToShortDateString()</span>

Current user:
<div>
    <dl>
        <dt>Name:</dt>
        <dd>@ViewBag.CurrentUser.Name</dd>
        <dt>ID:</dt>
        <dd>@ViewBag.CurrentUser.ID</dd>
        <dt>Logon Date:</dt>
        <dd>@ViewBag.CurrentUser.LogonDate.ToShortDateString()</dd>
    </dl>
</div>

@Html.ActionLink("Go to About Page", "About")